
@font-face{
	font-family: "Bodega Sans";
	src: url("../fonts/BodegaSans_Black.ttf");
}
*{
	box-sizing: border-box;

	

}
body{
	background-image: url("../img/bg_body.svg");
	background-color:  	#434343;
	color: white;
	max-width: 1500px auto;
}

header{
	padding: 10%;
	
	 background-image: linear-gradient(150deg ,white 0, white 50%,  50%,   #343233 100%);

}
header ul{
	
	list-style-type: none;
	margin-top: 20%;
}
header nav ul li {

	text-align: right;
	margin-top: 15%;
}
header a{
	font-size: 1.8rem;
	text-decoration: none;
	color: white;
	padding-right: 5%;
	font-family: "Bodega Sans";
	
}
header img{
	width: 60%;
	margin-left: 5%;
	margin-top: 10%;
	

}
/*MAIN*/
main{
	text-align: center;
	margin: auto;

}
h1{
	font-family: "Bodega Sans";
	text-transform: uppercase;
	font-size: 2.5rem;
	text-align: center;
	line-height: 5rem;
	font-weight: normal;
	padding: 5%;
	box-shadow: -1px -0px 0px 0px rgba(0,0,0,0.75);

}

.flexslider{
	
	margin:auto;

	width:90%;
	border: 10px solid white;

}
h2{
	font-family: "Bodega Sans";
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: normal;
	padding: 5%;
		text-align: left;

}
article  {
	display: inline-block;
width: 80%;
background-color:white;

margin: 2%;
padding: 4%;

}
article p{
	color: #434343;
	
}
article img{
	width:100%; 
}
article h3{
	font-family: "Bodega Sans";
	text-transform: uppercase;
	color: #FE9608;
	margin-top: 0;
	font-size: 1.5rem;
	font-weight: normal;

}
article hr{
	color:  #FE9608;
	border:1.5px solid;

}
article a{
	text-decoration: none;

	display: block;
	width:text-align;
	background-color: #FE9608;
	padding: 20px 0;
	color: white;
}

.partie2 h2{
	padding:0 10%;
	text-align: left;
	line-height: 4rem;
	font-weight: normal;
}
 p {
 	text-align: center;
	line-height: 2rem;
 }
 .partie2 p{
 	padding: 0 10% ;
 }
span{
	color: #FE9608;
}
 .partie2 ul{
 	list-style-type: none;
 	margin: 0;
 	padding: 0;
 }
i{
	text-align: center;
	font-size: 3.5rem;
	
	color: white;
	margin: 1.5rem 0;
}
video{
	width:80%;
}
footer{
	text-align: center;
	margin: 10%;
	padding: 10%;
	box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);

}

footer ul{
	list-style-type:none;
	margin:0;
	padding: 0;


}
footer ul li{
	display: inline-block;
	margin: 2rem 1.5rem;

}
footer a{

	color: white;
}

footer h3{
	font-family: "Bodega Sans";
	text-transform: uppercase;
	font-weight: normal;

}



#licence {
	line-height: 1.5rem;
    display: block;
    text-align: center;
    padding: 25px;
}

#licence img {
    width: 50px;
    margin:1rem;
}

@media screen and (min-width: 640px)
{
	header {
		background: linear-gradient(130deg, #ffffff 50%,#ffffff 50%,#343233 50%);
		padding:1%;

	}
	header img{
		float:left;
		width: 30%;
		margin-top: 1%;

	}
	header nav{
		padding: 25px;
	}
	header nav ul {
		text-align: right;
		margin-top:0;
		margin-bottom: 0;
		padding-left: 0;
	}
	header nav ul li{
		margin-top:2%;

	}

	header ul li a {
		font-size: 1.4rem;
	}

	.clear {
		clear: both;
	}
	h1{

	}


}
@media screen and (min-width: 1024px)
{
	main{
		width: 90%;
	}
	.flexslider{
	
	margin:auto;

	width:100%;
	border: 10px solid white;
	 
}
	
article{
	display: inline-block;
	width: 22.5%;
	margin:1%;



}	
 h2 ,h1{
	margin:1rem;
	padding: 1rem;


}

footer{
	
}
.partie2{
	display: block;
	
}
.partie2 p{
	width: 50%;
}
.partie2 ul{
	text-align: left;
}
.partie2 ul li {
	display: inline-block;
	margin: 1%;

}
video{
	float: right;
	margin-top: -30%;
	

	
	width: 50%;
	text-align: right;}


}